- 
    var data = {
        intro: 
            {
                id: "main",
                title: "Daily Interaction-Design", 
                text: "For one month starting from 26.11.2019 I am challenging myself to create a piece of interaction design every day (german holidays and weekends excluded ;) ). This shall range from button-design to new chat-interfaces... all code is documented on this github-repo:",
                link: "https://github.com/bjoerndot/dailyIXD"
            },
        nextButton: 
            {
                id: "nextbutton",
                title: "Next Button",
                text: ["26.11. - A next button with a jumpy arrow? This button is like a dog. The arrow is on a leash... it just wants to go forward!!! And: DID YOU CLICK IT?", "The button is a pure CSS button built with animations and transitions."]
            },
        symbolicLinks: 
            {
                id: "symboliclink",
                title: "Symbolic Links",
                text: ["27.11. - What if a link told you already while hovering where it links to? Especially within text blocks I want to style links in a way, that they are distinct but don't break the flow of reading... by adding symbolic information on the link-hover it is possible to still convey important information for users.", "The underline effect on the left is different for three cases: External links, internal links and anchor links. For external links the underlining arrows goes beyond the circle. Internal links show the arrow ending within in the circle but still separated from it. But the anchor link, which just leads the user to another section on the site, completely fills the circle.", "This CSS-only solution combines an animation triggered by interaction while giving useful information to the users!"]
            },
        mouseTracking: 
            {
                id: "mousetracking",
                title: "Mousetracking",
                text: ["Cat follows mouse..."]
            },
    }