- 
    var data = {
        intro: 
            {
                id: "main",
                title: "Daily Interaction-Design", 
                text: "For one month starting from 26.11.2019 I am challenging myself to create a piece of interaction design every day (german holidays and weekends excluded ;) ). This shall range from button-design to new chat-interfaces... all code is documented on this github-repo:",
                link: "https://github.com/bjoerndot/dailyIXD"
            },
        nextButton: 
            {
                id: "nextbutton",
                title: "Next Button",
                text: ["26.11. - A next button with a jumpy arrow? This button is like a dog. The arrow is on a leash... it just wants to go forward!!! And: DID YOU CLICK IT?", "The button is a pure CSS button built with animations and transitions."]
            },
        symbolicLinks: 
            {
                id: "symboliclink",
                title: "Symbolic Links",
                text: ["27.11. - What if a link told you already while hovering where it links to? Especially within text blocks I want to style links in a way, that they are distinct but don't break the flow of reading... by adding symbolic information on the link-hover it is possible to still convey important information for users.", "The underline effect on the left is different for three cases: External links, internal links and anchor links. For external links the underlining arrows goes beyond the circle. Internal links show the arrow ending within in the circle but still separated from it. But the anchor link, which just leads the user to another section on the site, completely fills the circle.", "This CSS-only solution combines an animation triggered by interaction while giving useful information to the users!"]
            },
        mouseTracking: 
            {
                id: "mousetracking",
                title: "Mousetracking",
                text: ["28.11. - Cat follows mouse..."]
            },
        tooltip: 
            {
                id: "tooltip",
                title: "Accessible Tooltips",
                text: ["29.11. - Tooltips are useful! And if you ask me, they aren't used enough in web development. But it is fairly simple to add them!", "All you need is one attribute on the element that shall get a tooltip and a handful lines of CSS-code...", "And yet: these tooltips are special! Besides being a visisble aid for revealing link targets or explaining symbols, these tooltips also provide information for screen-readers. So basically: killing two birds with one stone!"]
            },
        readMode: 
            {
                id: "readmode",
                title: "Read-Mode",
                text: ["02.12. - Many visual allurements challenge our brain to concentrate. Often our brain loses the challenge and we get distracted, by pretty images of flowers or similar irrelevant elements.", "The read-mode gives users an opportunity to actually R E A D texts on websites. It removes any unnecessary elements from the site until only headings and texts remain."]
            },
        terms: 
            {
                id: "terms",
                title: "Terms and Conditions",
                text: [
                    "03.12. - How often did you forget to check the box to accept the terms and conditions? This happens very often to me. One reason: The checkbox is hidden at the bottom of the screen...", 
                    "I know that legal stuff is annoying and discouraging. But users have to click it anyway, so why don't we make it easy for them? By recognizing the importance of that button we create more awareness for legal topics on the web."
                ]
            },
        focusedForm: 
            {
                id: "focusedForm",
                title: "Focused Forms",
                text: [
                        "04.12. - Focused Forms - because often it is simpler to go through a form field by field!"
                    ],
                formFields: [
                    {   
                        id: "firstName",
                        title: "First name",
                        type: "text",
                        help: "Please enter your given name. E.g.: Homer"
                    }, 
                    {
                        id: "lastName",
                        title: "Last name",
                        type: "text",
                        help: "Please enter your last name. E.g.: Simpson"
                    }, 
                    {
                        id: "street",
                        title: "Street",
                        type: "text",
                        help: "Please enter the street you live in. E.g. Evergreen Terace"
                    }, 
                    {
                        id: "number",
                        title: "No.", 
                        type: "number",
                        help: "Please enter the number of your residence. E.g.: 7"
                    },
                    {
                        id: "postal",
                        title: "Postal Code",
                        type: "number",
                        help: "Please enter your adresses postal code. E.g.: 12345"
                    },
                    {
                        id: "city",
                        title: "City",
                        type: "text",
                        help: "Please enter the city you live in. E.g.: Springfield"
                    }
                ]
            },
        dropdownFullscreen: 
            {
                id: "ddfullscreen",
                title: "Drop to fullscreen",
                text: ["05.12. - Did you ever have to chose an item out of a very long dropdown-list? It's annoying!", "One solution to this problem is a fullscreen, searchable and sorted list of dropdown-entries."]
            }
    }